<html>
    <head>
        <meta charset="utf-8" />
        <title>Login to Melodia</title>

		<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">
    </head>
	<body>
	    <div class="navbar navbar-inverse navbar-fixed-top">
	        <div class="navbar-inner">
	            <div class="container">
	                <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"></a>
	            </div>
	        </div>
	    </div>

		<!-- Apparently putting javascript at the bottom makes it load faster... -->
	</body>
</html>
